/* font-family: 'Roboto Mono', monospace;
font-family: 'Lexend Giga', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Bahianita', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Source Code Pro', monospace; */


html {
    height: 100%;
}

body {
    height: 100%;
    background: url("https://images.wallpaperscraft.com/image/space_planet_surface_shadow_46631_1920x1080.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

img {
    width: 100%;
}

nav {
    background: rgba(30.7,30.7,30.7,0.5);
    border-bottom: solid rgba(65.3,21.8,33.9,0.7);
}

.homebutton {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.homebuttonbar {
    color: #119ed6;
}

.buttonfont {
    font-family: 'Orbitron', sans-serif;
}

.btnActive {
    border-bottom: solid rgba(80.3,30.8,33.9,0.7);
    border-right: solid rgba(80.3,30.8,33.9,0.7);
    border-radius: 20px;
}


.comingsoon {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Lexend Giga', sans-serif;
    padding-top: 10px;
}

#logopadding {
    padding-top: 15%;
    text-align: center;

}

/* Card Styling */

.card p {
    line-height: 2;
    font-size: 0.9rem;
    font-family: 'Lexend Giga', sans-serif;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.cardStyle {
    background: rgba(30.7,30.7,30.7,0.7);
    border-top: 1px solid rgb(102, 33, 52);
    border-bottom: 1px solid rgb(102, 33, 52);
    color: white;
    margin-top: 100px;
    margin-bottom: 85px;
}

.cardHeadStyle {
    background: rgba(30.7,30.7,30.7,0.7);
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.aboutImage {
    background-image: url(/img/About_Tile.jpeg);
    background-position: 50% 50%;
    
}

.contactImage {
    background-image: url(/img/contact_title.jpg);
    background-position: bottom;
}

.cardImage {
    height: 250px;
    border: 3px solid rgb(102, 33, 52);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;

}

.cardButton {
    background: rgba(30.7,30.7,30.7,1.0);
    color: white;
    border: 1px solid rgb(102, 33, 52);
    letter-spacing: 2px;
}

.cardButton:hover {
    color: silver;
    border: 1px solid rgb(163, 62, 91);
    transition: all 0.25s;
}


/* Form Styling */

form input {
    max-width: 400px;
}

.form-control {
    color: white;
    background: rgba(30.7,30.7,30.7,1.0);
    font-family: 'Source Code Pro', monospace;
    max-height: 220px;
}

.form-control:focus {
    color: white;
    background: rgba(30.7,30.7,30.7,1.0);
    border: 2px solid rgb(163, 62, 91);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(163, 62, 91);
}


/* color Game */

#gameBody {
    background: url("https://images.wallpaperscraft.com/image/space_planet_surface_shadow_46631_1920x1080.jpg");
    color: white;
    margin: 0;
}


h1 {
    text-align: center;
    line-height: 1.5;
    background: rgba(30.7,30.7,30.7,1.0);
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

.gameButton {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    color: rgb(122, 122, 122);
    margin: auto;
    padding: 10px;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.gameButton:hover {
    color: white;
    background: rgb(63, 63, 63);
    border-radius: 10px;
}


.square {
    width: 30%;
    background: purple;
    float: left;
    margin: 1.66%;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 1.0s;
    -webkit-transition: background 1.0s;
    -moz-transition: background 1.0s;
}

#gameContainer {
    margin: 20px auto;
    max-width: 600px;
}

#stripe {
    background: rgba(30.7,30.7,30.7,1.0);
    height: 50px;
    text-align: center;
    color: black;
}

.selected {
    background: rgb(63, 63, 63);
    border-radius: 10px;
    color: white;
}

#space {
    display: inline-block;
    width: 10%;
}


#message {
    text-align: center;
    margin: auto;
    width: 80%;
    color: steelblue;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#colorDisplayContainer {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 20px;
}

#instructions {
    text-align: center;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin: 0;
}






