/* font-family: 'Roboto Mono', monospace;
font-family: 'Lexend Giga', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Bahianita', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Orbitron', sans-serif; */


html {
    height: 100%;
}

body {
    /* background: url("https://images.unsplash.com/photo-1586250648641-bb399310710d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1348&q=80"); */
    background: url("https://images.wallpaperscraft.com/image/space_planet_surface_shadow_46631_1920x1080.jpg");
    background-size: cover;
}

img {
    width: 100%;
}

.homebutton {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.homebuttonbar {
    color: #119ed6;
}

.buttonfont {
    font-family: 'Orbitron', sans-serif;
}


.comingsoon {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Lexend Giga', sans-serif;
    padding-top: 10px;
}

#logopadding {
    padding-top: 10%;
}