/* font-family: 'Roboto Mono', monospace;
font-family: 'Lexend Giga', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Bahianita', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Source Code Pro', monospace; */


html {
    height: 100%;
}

body {
    height: 100%;
    background: url("https://images.wallpaperscraft.com/image/space_planet_surface_shadow_46631_1920x1080.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

img {
    width: 100%;
}

nav {
    background: rgba(30.7,30.7,30.7,0.5);
    border-bottom: solid rgba(65.3,21.8,33.9,0.7);
}

.homebutton {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.homebuttonbar {
    color: #119ed6;
}

.buttonfont {
    font-family: 'Orbitron', sans-serif;
}


.comingsoon {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Lexend Giga', sans-serif;
    padding-top: 10px;
}

#logopadding {
    padding-top: 15%;
    text-align: center;

}

/* Card Styling */
.card p {
    line-height: 2;
    font-size: 0.9rem;
    font-family: 'Lexend Giga', sans-serif;
    margin-bottom: 20px;
}

.cardStyle {
    background: rgba(30.7,30.7,30.7,0.7);
    border-top: 1px solid rgb(102, 33, 52);
    border-bottom: 1px solid rgb(102, 33, 52);
    color: white;
    margin-top: 100px;
    margin-bottom: 85px;
}

.cardHeadStyle {
    background: rgba(30.7,30.7,30.7,0.7);
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.aboutImage {
    background-image: url(/img/About_Tile.jpeg);
    background-position: 50% 50%;
    
}

.contactImage {
    background-image: url(/img/contact_title.jpg);
    background-position: bottom;
}

.cardImage {
    height: 250px;
    border: 3px solid rgb(102, 33, 52);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;

}

.cardButton {
    background: rgba(30.7,30.7,30.7,1.0);
    color: white;
    border: 1px solid rgb(102, 33, 52);
    letter-spacing: 2px;
}

.cardButton:hover {
    color: silver;
    border: 1px solid rgb(163, 62, 91);
    transition: all 0.25s;
}

/* Form Styling */

form {
    margin-left: 30%;
    margin-right: 30%;
}

form input {
    max-width: 400px;
}

.form-control {
    color: white;
    background: rgba(30.7,30.7,30.7,1.0);
    font-family: 'Source Code Pro', monospace;
    max-height: 220px;
}

.form-control:focus {
    color: white;
    background: rgba(30.7,30.7,30.7,1.0);
    border: 2px solid rgb(163, 62, 91);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(163, 62, 91);
}






