/* font-family: 'Roboto Mono', monospace;
font-family: 'Lexend Giga', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Bahianita', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Orbitron', sans-serif; */


body {
    background: #333333;
    background: url("https://images.unsplash.com/photo-1586250648641-bb399310710d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1348&q=80");
    background-size: cover;
    margin: auto;
}

div {
    margin: 100px auto auto auto;
}

img {
    width: 70%;
    margin: auto 15%;
}


.comingsoon {
    color: white;
    font-size: 30px;
    font-family: 'Lexend Giga', sans-serif;
    margin: 20px auto auto 300px;
}